<% if flash[:error]  %>
  <div class="alert alert-danger" role="alert"><%= flash[:error] %></div>
<% end %>

<form action="/memos<%= @memo['id'].blank? ? nil : "/#{@memo['id']}" %>" method="post" class="form-memo">
  <% unless @memo['id'].blank? %>
    <input type="hidden" name='_method', value='PATCH' />
  <% end %>
  <div class="form-memo">
    <label for="title">タイトル: </label>
    <input type="text" name="title" id="title" value=<%= @memo['title'] %>>
  </div>
  <div class="form-memo">
    <label for="body">内容: </label>
    <textarea name="body" id="body"><%= @memo['body'] %></textarea>
  </div>
  <div class="form-memo">
    <input type="submit" value=<%= @memo['id'].blank? ? "保存" : "更新" %>>
  </div>
</form>
